{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 add-container">
    <div id="popup-container" style="display: none;">
        <div id="popup" class="popup">
            <p>Are you sure you want to discard changes?</p>
            <button id="confirm-discard" data-item-id="{{ item.id }}">Yes, discard</button>
            <button id="cancel-discard">No, keep editing</button>
        </div>
    </div>
    <h5 class="info-purple text-center">Edit Wine Information</h5>
    <form action="/edit/{{item.id}}" method="post" id="wine-form">
        <div class="form-group flex-container">
            <label class="flex-label" for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter wine title" value="{{ item.title | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="winemaker">Winemaker</label>
            <input type="text" class="form-control" id="winemaker" name="winemaker" placeholder="Enter winemaker's name" value="{{ item.winemaker | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="vintage">Vintage</label>
            <input type="number" class="form-control" id="vintage" name="vintage" placeholder="Enter vintage year" value="{{ item.vintage | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="color">Color</label>
            <select class="form-control" id="color" name="color">
                <option value="red" {% if item.color == 'red' %}selected{% endif %}>Red</option>
                <option value="white" {% if item.color == 'white' %}selected{% endif %}>White</option>
                <option value="rose" {% if item.color == 'rose' %}selected{% endif %}>Rosé</option>
            </select>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="region">Region</label>
            <input type="text" class="form-control" id="region" name="region" placeholder="Enter region" value="{{ item.region | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="body">Body</label>
            <select class="form-control" id="body" name="body">
                <option value="Light" {% if item.body == 'Light' %}selected{% endif %}>Light</option>
                <option value="Medium" {% if item.body == 'Medium' %}selected{% endif %}>Medium</option>
                <option value="Full" {% if item.body == 'Full' %}selected{% endif %}>Full</option>
            </select>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="tannin">Tannin</label>
            <select class="form-control" id="tannin" name="tannin">
                <option value="Light" {% if item.tannin == 'Light' %}selected{% endif %}>Light</option>
                <option value="Medium" {% if item.tannin == 'Medium' %}selected{% endif %}>Medium</option>
                <option value="High" {% if item.tannin == 'High' %}selected{% endif %}>High</option>
            </select>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="acid">Acid</label>
            <select class="form-control" id="acid" name="acid">
                <option value="Light" {% if item.acid == 'Light' %}selected{% endif %}>Light</option>
                <option value="Medium" {% if item.acid == 'Medium' %}selected{% endif %}>Medium</option>
                <option value="High" {% if item.acid == 'High' %}selected{% endif %}>High</option>
            </select>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="tasting_notes">Tasting Notes</label>
            <input type="text" class="form-control" id="tasting_notes" name="tasting_notes" placeholder="Enter tasting notes, separated by commas" value="{{ item.tasting_notes | join(', ') | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="rating">Rating</label>
            <input type="number" step="0.1" class="form-control" id="rating" name="rating" placeholder="Enter rating" value="{{ item.rating | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description" required>{{ item.description | default('') }}</textarea>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="image_url">Image URL</label>
            <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Enter image URL" value="{{ item.image_url | default('') }}" required>
        </div>
        <div class="form-group flex-container">
            <label class="flex-label" for="other_regions">Other Regions</label>
            <input type="text" class="form-control" id="other_regions" name="other_regions" placeholder="Enter other regions, separated by commas" value="{{ item.other_regions | join(', ') | default('') }}">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn edit-btn-submit">Submit</button>
            <button type="button" class="btn edit-btn-discard" id="discard-changes">Discard Changes</button>
        </div>
    </form>
</div>
{% endblock %}