<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


  <title>Wine Seller</title>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/add">Add New Wine</a>
      </div>
      <form class="d-flex" action="/search" method="get" id="search-form">
        <input class="form-control me-2 search-bar" type="search"
               placeholder="Enter a grape, winemaker, or tasting notes..."
               aria-label="Search" name="query">
        <button class="btn search-btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  {% block content %}
  {% endblock %}
</div>

</body>

<script type="text/javascript" src="{{ url_for('static', filename = 'wineSeller.js') }}"></script>
</html>
